:root {
  --bright-pink: #f5118e;
  --light-pink: #fd8dca;
  --white: #ffffff;
  --body-font: "DynaPuff", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: var(--bright-pink);
}

#pages section {
  height: 100vh;
  width: 100vw;
  padding-top: 48px;
  margin-top: -48px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.nav li a:after {
  content: '|';
  padding-left: 10px;
  z-index: -1;
  height: 100%
}

.nav li:last-child a:after {
  content: none;
}

.nav {
  text-align: center;
  background-color: var(--bright-pink);
  color: white;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  z-index: 1;
  box-sizing: border-box;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bright-pink);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.nav li a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  background-color: var(--bright-pink);
  font-family: var(--nav-font);
  z-index: 1;
}

.nav a {
  padding: 0;
  width: 100% !important;
  height: 100% !important;
}

.home {
  color: white;
  text-align: center;
  display: block;
  clear: both;
  align-items: center;
  position: relative;
  margin-top: 20%;
  height: 100vh;
}

#home{
  background-color: var(--bright-pink);
}

#about {
  background-color: var(--light-pink);
}

#timeline {
  background-color: var(--white);
}

#team {
  background-color: var(--light-pink);
}

#stats {
  background-color: var(--white);
}

#contact {
  background-color: var(--light-pink);
}
