body {
  background-color: #fc048c;
  margin: 0;
  overflow-x: hidden;
  font-family: "DynaPuff", sans-serif;
}

.nav {
  text-align: center;
  background-color: #fc048c;
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.nav li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




