body {
  background-color: #fc048c;
  margin: 0;
  overflow-x: hidden;
  font-family: "DynaPuff", sans-serif;
}

.nav {
  text-align: center;
  background-color: #fc048c;
  color: white;
  font-family: "DynaPuff", sans-serif;
  justify-content: center;
  width: auto;
  display: flex;
  padding: 10px;
  z-index: 1;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fc048c;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.nav li a {
  display: block;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 48px;
  text-decoration: none;
  background-color: #fc048c;
}

.home {
  color: white;
  text-align: center;
  display: block;
  clear: both;
  align-items: center;
  position: relative;
  margin-top: 20%;
}






